![Periodic Table](periodic_table.png)

![Orbitals Table](orbitals.jpg)

![Orbitals Table](distribution_orbitals.png)

In [26]:
#import numpy as np

### ma solution

In [27]:
subshells_by_shell = [['1s'],['2s','2p'], ['3s','3p'], ['4s','3d','4p'],['5s','4d','5p'], 
            ['6s','4f','5d','6p'],['7s','5f','6d','7p']]

In [28]:
def subshell_by(shell): 
    subshells = subshells_by_shell[shell-1]

    subshell_capacity = []
    for ss in subshells:
        if 's' in ss :
            subshell_capacity.append(2)
        if 'p' in ss :
            subshell_capacity.append(6)
        if 'd' in ss :
            subshell_capacity.append(10)
        if 'f' in ss :
            subshell_capacity.append(14)
    return subshells, subshell_capacity

In [29]:
sshell, s_cap = subshell_by(3)
sshell, s_cap

(['3s', '3p'], [2, 6])

In [30]:
def electron_config(atomic_number):
    electron_config = ""
    end = False
    verif = 0

    for shell in range(1,8):
        d, c = subshell_by(shell)  # designation, capacity
        #print(d,c)
        for k in range(len(c)):
            if atomic_number >= c[k]:
                atomic_number -= c[k]
                #print(atomic_number, c[k])
                verif += c[k]
                electron_config += d[k]+str(c[k])+"-"
            elif atomic_number > 0:
                electron_config += d[k]+str(atomic_number)+" " 
                verif += atomic_number      
                end = True
                break    
        if end: break

    return electron_config[:-1]#, verif

In [31]:
  
# gaz rares
rares_bases = []
rares_names = ['Ne','Ar','Kr','Xe','Rn']
for i,n in enumerate([10,18,36,54,86]):
    rares_bases.append(electron_config(n))
    print(rares_names[i],electron_config(n))
#print(rares_bases)

Ne 1s2-2s2-2p6
Ar 1s2-2s2-2p6-3s2-3p6
Kr 1s2-2s2-2p6-3s2-3p6-4s2-3d10-4p6
Xe 1s2-2s2-2p6-3s2-3p6-4s2-3d10-4p6-5s2-4d10-5p6
Rn 1s2-2s2-2p6-3s2-3p6-4s2-3d10-4p6-5s2-4d10-5p6-6s2-4f14-5d10-6p6

In [32]:
rares_names, rares_bases

(['Ne', 'Ar', 'Kr', 'Xe', 'Rn'],
 ['1s2-2s2-2p6',
  '1s2-2s2-2p6-3s2-3p6',
  '1s2-2s2-2p6-3s2-3p6-4s2-3d10-4p6',
  '1s2-2s2-2p6-3s2-3p6-4s2-3d10-4p6-5s2-4d10-5p6',
  '1s2-2s2-2p6-3s2-3p6-4s2-3d10-4p6-5s2-4d10-5p6-6s2-4f14-5d10-6p6'])

In [33]:
atomic_number = 12
seq = electron_config(atomic_number)
seq

'1s2-2s2-2p6-3s2'

In [34]:
def use_base_for(seq):
    for r in reversed(range(5)):
        #print(seq,rares_bases[r],rares[r])
        if rares_bases[r] in seq:
            seq = seq.replace(rares_bases[r]+"-","["+rares_names[r]+"] ")
    return seq

seq = electron_config(atomic_number)
use_base_for(seq)

'[Ne] 3s2'

In [35]:
# exceptions
ex = ['Cr','Ni','Cu','Nb','Mo','Ru','Rh','Pd','Ag','La','Ce','Gd','Pt','Au','Ac','Th','Pa','U','Cm','Lr']
for i, n in enumerate([24,28,29,41,42,44,45,46,47,57,58,64,78,79,89,90,91,92,96,103]):
    print(ex[i],"(",n,")",":\t",use_base_for(electron_config(n)))

Cr ( 24 ) :	 [Ar] 4s2-3d4
Ni ( 28 ) :	 [Ar] 4s2-3d8
Cu ( 29 ) :	 [Ar] 4s2-3d9
Nb ( 41 ) :	 [Kr] 5s2-4d3
Mo ( 42 ) :	 [Kr] 5s2-4d4
Ru ( 44 ) :	 [Kr] 5s2-4d6
Rh ( 45 ) :	 [Kr] 5s2-4d7
Pd ( 46 ) :	 [Kr] 5s2-4d8
Ag ( 47 ) :	 [Kr] 5s2-4d9
La ( 57 ) :	 [Xe] 6s2-4f1
Ce ( 58 ) :	 [Xe] 6s2-4f2
Gd ( 64 ) :	 [Xe] 6s2-4f8
Pt ( 78 ) :	 [Xe] 6s2-4f14-5d8
Au ( 79 ) :	 [Xe] 6s2-4f14-5d9
Ac ( 89 ) :	 [Rn] 7s2-5f1
Th ( 90 ) :	 [Rn] 7s2-5f2
Pa ( 91 ) :	 [Rn] 7s2-5f3
U ( 92 ) :	 [Rn] 7s2-5f4
Cm ( 96 ) :	 [Rn] 7s2-5f8
Lr ( 103 ) :	 [Rn] 7s2-5f14-6d1

# Exceptions

![Exceptions](orbitals_exceptions.png "icon")

# get elements table from web page

In [36]:
url = "https://en.wikipedia.org/wiki/List_of_chemical_elements"
import pandas as pd
tables = pd.read_html(url)[0] 
# default flavor='lxml'

In [37]:
# rename level 0
tables.columns = tables.columns.set_levels(['List of chemical elements'],level=0)

In [38]:
# drop index 0
tables.drop(0, inplace=True)

In [39]:
# old names level 1
tables.columns.levels[1]

Index(['Abundance in Earth's crust[h]', 'Block', 'Boiling point[e]',
       'Density[b][c]', 'Electro­negativity[g]', 'Element', 'Group',
       'Melting point[d]', 'Origin of name[2][3]', 'Origin[i]', 'Period',
       'Phase at r.t.[j]', 'Specific heat capacity[f]',
       'Standard atomic weight .mw-parser-output .nobold{font-weight:normal}Ar°(E)[a]'],
      dtype='object')

In [40]:
# new names level 1
new_level1 = ['Abundance in Earth\'s crust', 'Block', 'Boiling point',
       'Density', 'Electro­negativity', 'Element', 'Group',
       'Melting point', 'Origin of name', 'Origin', 'Period',
       'Phase at room temp', 'Specific heat capacity',
       'Standard atomic weight']
#new

In [41]:
tables.columns.levels[2]

Index(['(Da)', '(J/g · K)', '(K)', '(mg/kg)',
       '('"`UNIQ--templatestyles-0000001A-QINU`"'g/cm3)', 'Atomic number Z',
       'Name', 'Symbol', 'Unnamed: 12_level_2', 'Unnamed: 14_level_2',
       'Unnamed: 15_level_2', 'Unnamed: 3_level_2', 'Unnamed: 4_level_2',
       'Unnamed: 5_level_2', 'Unnamed: 6_level_2'],
      dtype='object')

In [42]:
new_level2 = ['(Da)', '(J/g · K)', '(K)', '(mg/kg)',
       '(g/cm3)', 'Atomic number Z',
       'Name', 'Symbol', '12_level_2', '14_level_2',
       '15_level_2', '3_level_2', '4_level_2',
       '5_level_2', '6_level_2', 'Electron Config']

# change level names

In [43]:
tables.columns = tables.columns.set_levels(new_level1,level=1)
tables.columns = tables.columns.set_levels(new_level2,level=2)

In [44]:
tables.head(10)

   List of chemical elements                    \
                     Element
             Atomic number Z Symbol       Name
1                        1.0      H   Hydrogen
2                        2.0     He     Helium
3                        3.0     Li    Lithium
4                        4.0     Be  Beryllium
5                        5.0      B      Boron
6                        6.0      C     Carbon
7                        7.0      N   Nitrogen
8                        8.0      O     Oxygen
9                        9.0      F   Fluorine
10                      10.0     Ne       Neon

                                                                           \
                                       Origin of name     Group    Period
                                            3_level_2 4_level_2 5_level_2
1     Greek elements hydro- and -gen, 'water-forming'         1       1.0
2                                 Greek hḗlios, 'sun'        18       1.0
3                               Greek líthos, 'stone'         1       2.0
4   Beryl, a mineral (ultimately from the name of ...         2       2.0
5   Borax, a mineral (from Arabic bawraq, Middle P...        13       2.0
6                                 Latin carbo, 'coal'        14       2.0
7              Greek nítron and -gen, 'niter-forming'        15       2.0
8                 Greek oxy- and -gen, 'acid-forming'        16       2.0
9                             Latin fluere, 'to flow'        17       2.0
10                                  Greek néon, 'new'        18       2.0

                                                                             \
       Block Standard atomic weight     Density Melting point Boiling point
   6_level_2                   (Da)     (g/cm3)           (K)           (K)
1    s-block                 1.0080  0.00008988         14.01         20.28
2    s-block                 4.0026   0.0001785          –[k]          4.22
3    s-block                   6.94       0.534        453.69          1560
4    s-block                 9.0122        1.85          1560          2742
5    p-block                  10.81        2.34          2349          4200
6    p-block                 12.011       2.267         >4000          4300
7    p-block                 14.007   0.0012506         63.15         77.36
8    p-block                 15.999    0.001429         54.36         90.20
9    p-block                 18.998    0.001696         53.53         85.03
10   p-block                 20.180   0.0009002         24.56         27.07

                                                                         \
   Specific heat capacity Electro­negativity Abundance in Earth's crust
                (J/g · K)         12_level_2                    (mg/kg)
1                  14.304               2.20                       1400
2                   5.193                  –                      0.008
3                   3.582               0.98                         20
4                   1.825               1.57                        2.8
5                   1.026               2.04                         10
6                   0.709               2.55                        200
7                    1.04               3.04                         19
8                   0.918               3.44                     461000
9                   0.824               3.98                        585
10                   1.03                  –                      0.005


        Origin Phase at room temp
    14_level_2         15_level_2
1   primordial                gas
2   primordial                gas
3   primordial              solid
4   primordial              solid
5   primordial              solid
6   primordial              solid
7   primordial                gas
8   primordial                gas
9   primordial                gas
10  primordial                gas

In [45]:
# result
# tables.info()
# tables.__dict__['_mgr']
# list(tables.columns.to_flat_index())[:3]

In [46]:
atomic_numbers = tables['List of chemical elements']['Element']['Atomic number Z']
symbols = tables['List of chemical elements']['Element']['Symbol']

In [47]:
electron_config = [use_base_for(electron_config(int(n))) for n in atomic_numbers]

In [48]:
position = 3
tables.insert(position, ('List of chemical elements','Element','Electron Config'), electron_config)

In [49]:
# append at the end
#tables['List of chemical elements','Element','Electron Config']=electron_config
#tables = tables.sort_index(axis=1)
tables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 1 to 118
Data columns (total 17 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   (List of chemical elements, Element, Atomic number Z)             118 non-null    float64
 1   (List of chemical elements, Element, Symbol)                      118 non-null    object
 2   (List of chemical elements, Element, Name)                        118 non-null    object
 3   (List of chemical elements, Element, Electron Config)             118 non-null    object
 4   (List of chemical elements, Origin of name, 3_level_2)            118 non-null    object
 5   (List of chemical elements, Group, 4_level_2)                     118 non-null    object
 6   (List of chemical elements, Period, 5_level_2)                    118 non-null    float64
 7   (List of chemical elements, Block, 6_level_2)                     118 non-null    object
 8   (List of chemical elements, Standard atomic weight, (Da))         118 non-null    object
 9   (List of chemical elements, Density, (g/cm3))                     118 non-null    object
 10  (List of chemical elements, Melting point, (K))                   118 non-null    object
 11  (List of chemical elements, Boiling point, (K))                   118 non-null    object
 12  (List of chemical elements, Specific heat capacity, (J/g · K))    118 non-null    object
 13  (List of chemical elements, Electro­negativity, 12_level_2)       118 non-null    object
 14  (List of chemical elements, Abundance in Earth's crust, (mg/kg))  118 non-null    object
 15  (List of chemical elements, Origin, 14_level_2)                   118 non-null    object
 16  (List of chemical elements, Phase at room temp, 15_level_2)       118 non-null    object
dtypes: float64(2), object(15)
memory usage: 15.8+ KB

In [50]:
tables.loc[25]

List of chemical elements  Element                     Atomic number Z                                              25.0
                                                       Symbol                                                         Mn
                                                       Name                                                    Manganese
                                                       Electron Config                                      [Ar] 4s2-3d5
                           Origin of name              3_level_2          Corrupted from magnesia negra; see § magnesium
                           Group                       4_level_2                                                       7
                           Period                      5_level_2                                                     4.0
                           Block                       6_level_2                                                 d-block
                           Standard atomic weight      (Da)                                                       54.938
                           Density                     (g/cm3)                                                      7.21
                           Melting point               (K)                                                          1519
                           Boiling point               (K)                                                          2334
                           Specific heat capacity      (J/g · K)                                                   0.479
                           Electro­negativity          12_level_2                                                   1.55
                           Abundance in Earth's crust  (mg/kg)                                                       950
                           Origin                      14_level_2                                             primordial
                           Phase at room temp          15_level_2                                                  solid
Name: 25, dtype: object