In [1]:
import pandas as pd

dtypes = {
    "first_name": "category",
    "gender": "category",
    "type": "category",
    "state": "category",
    "party": "category",
}
df = pd.read_csv(
    "groupby-data/legislators-historical.csv",
    dtype=dtypes,
    usecols=list(dtypes) + ["birthday", "last_name"],
    parse_dates=["birthday"]
)

df

      last_name  first_name   birthday gender type state                party
0       Bassett     Richard 1745-04-02      M  sen    DE  Anti-Administration
1         Bland  Theodorick 1742-03-21      M  rep    VA                  NaN
2         Burke     Aedanus 1743-06-16      M  rep    SC                  NaN
3       Carroll      Daniel 1730-07-22      M  rep    MD                  NaN
4        Clymer      George 1739-03-16      M  rep    PA                  NaN
...         ...         ...        ...    ...  ...   ...                  ...
11970   Garrett      Thomas 1972-03-27      M  rep    VA           Republican
11971    Handel       Karen 1962-04-18      F  rep    GA           Republican
11972     Jones      Brenda 1959-10-24      F  rep    MI             Democrat
11973    Marino         Tom 1952-08-15      M  rep    PA           Republican
11974     Jones      Walter 1943-02-10      M  rep    NC           Republican

[11975 rows x 7 columns]

In [2]:
# get warning if observed is not passed as keyword argument
state = df.groupby('state',sort=False)["last_name"].count()
state.tail()

C:\Users\jean\AppData\Local\Temp\ipykernel_20880\2257857976.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  state = df.groupby('state',sort=False)["last_name"].count()

state
AK    16
PI    13
VI     4
GU     4
AS     2
Name: last_name, dtype: int64

In [3]:
# suppress warning 
def decorator():   
    def Inner(func):       
        def wrapper(*args, **kwargs):
            #print('inner func',args[1],kwargs) 
            kwargs['observed']=False
            #print(args[0],args[1],kwargs)
            #func(*args, **kwargs)
            return args[0].groupby(args[1],**kwargs)["last_name"].count() 
        return wrapper
    return Inner
@decorator()
def grpby(*args, **kwargs):
    df_group = df.groupby(*args, **kwargs)["last_name"].count()
    #print(df_group)
grpby(df,"state", sort=False).tail()

state
AK    16
PI    13
VI     4
GU     4
AS     2
Name: last_name, dtype: int64