In [1]:
import pandas as pd
import numpy as np

constants = pd.DataFrame([('pi',np.pi),('e',np.e)],
                   columns=['name','value'])
C = constants.style.format({'name': '~~ {} ~~', 'value':'--> {:15.10f} <--'})
C

In [2]:
import numpy as np

# Python program showing how to use 
# string modulo operator(%) to print 
# fancier output 

# print integer and float value 
print("Geeks : % 2d, Portal : % 5.2f" %(1, 05.333)) 

# print integer value 
print("Total students : % 3d, Boys : % 2d" %(240, 120)) 

# print octal value 
print("% 7.3o"% (25)) 

# print exponential value 
print("% 10.3E"% (356.08977))

Geeks :  1, Portal :  5.33
Total students :  240, Boys :  120
    031
 3.561E+02

In [3]:
# Python program showing 
# use of format() method 

# using format() method 
print('I love {} for "{}!"'.format('Geeks', 'Geeks')) 

# using format() method and refering 
# a position of the object 
print('{0} and {1}'.format('Geeks', 'Portal')) 

print('{1} and {0}'.format('Geeks', 'Portal'))

I love Geeks for "Geeks!"
Geeks and Portal
Portal and Geeks

In [4]:
# Python program showing 
# a use of format() method 

# combining positional and keyword arguments 
print('Number one portal is {0}, {1}, and {other}.'
    .format('Geeks', 'For', other ='Geeks')) 

# using format() method with number 
print("Geeks :{0:2d}, Portal :{1:8.2f}". 
    format(12, 00.546)) 

# Changing positional argument 
print("Second argument: {1:3d}, first one: {0:7.2f}". 
    format(47.42, 11)) 

print("Geeks: {a:5d}, Portal: {p:8.2f}". 
    format(a = 453, p = 59.058))

Number one portal is Geeks, For, and Geeks.
Geeks :12, Portal :    0.55
Second argument:  11, first one:   47.42
Geeks:   453, Portal:    59.06

In [5]:
# Python program to 
# show format () is 
# used in dictionary 

tab = {'geeks': 4127, 'for': 4098, 'geek': 8637678} 

# using format() in dictionary 
print('Geeks: {0[geeks]:d}; For: {0[for]:d}; '
    'Geeks: {0[geek]:d}'.format(tab)) 

data = dict(fun ="GeeksForGeeks", adj ="Portal") 

# using format() in dictionary 
print("I love {fun} computer {adj}".format(**data))

Geeks: 4127; For: 4098; Geeks: 8637678
I love GeeksForGeeks computer Portal

In [6]:
# Python program to 
# format a output using 
# string() method 

cstr = "I love geeksforgeeks"
    
# Printing the center aligned 
# string with fillchr 
print ("Center aligned string with fillchr: ") 
print (cstr.center(40, '#')) 

# Printing the left aligned 
# string with "-" padding 
print ("The left aligned string is : ") 
print (cstr.ljust(40, '-')) 

# Printing the right aligned string 
# with "-" padding 
print ("The right aligned string is : ") 
print (cstr.rjust(40, '-'))

Center aligned string with fillchr:
##########I love geeksforgeeks##########
The left aligned string is :
I love geeksforgeeks--------------------
The right aligned string is :
--------------------I love geeksforgeeks

In [7]:
# Python program to demonstrate the use of formatting using % 

# Initialize variable as a string 
variable = '15'
string = "Variable as string = %s" %(variable) 
print (string )

# Printing as raw data 
# Thanks to Himanshu Pant for this 
print ("Variable as raw data = %r" %(variable) )

# Convert the variable to integer 
# And perform check other formatting options 

variable = int(variable) # Without this the below statement 
                        # will give error. 
string = "Variable as integer = %d" %(variable) 
print (string )
print ("Variable as float = %f" %(variable) )

# printing as any string or char after a mark 
# here i use mayank as a string 
print ("Variable as printing with special char = %cmayank" %(variable) )

print ("Variable as hexadecimal = %x" %(variable) )
print ("Variable as octal = %o" %(variable) )

Variable as string = 15
Variable as raw data = '15'
Variable as integer = 15
Variable as float = 15.000000
Variable as printing with special char = mayank
Variable as hexadecimal = f
Variable as octal = 17

In [8]:
#Code will run in Python 3 

from io import StringIO 
import json 

fileObj = StringIO() 
json.dump(["Hello", "Geeks"], fileObj) 
print("Using json.dump(): "+str(fileObj.getvalue())) 

class TypeEncoder(json.JSONEncoder): 
    def default(self, obj): 
        if isinstance(obj, type): 
            return str(obj) 

print("Using json.dumps(): "+str(json.dumps(type(str), cls=TypeEncoder))) 
print("Using json.JSONEncoder().encode"+
    str(TypeEncoder().encode(type(list)))) 
print("Using json.JSONEncoder().iterencode"+
    str(list(TypeEncoder().iterencode(type(dict)))))

Using json.dump(): ["Hello", "Geeks"]
Using json.dumps(): "<class 'type'>"
Using json.JSONEncoder().encode"<class 'type'>"
Using json.JSONEncoder().iterencode['"<class \'type\'>"']

In [9]:
#Code will run in Python 3 

from io import StringIO 
import json 

fileObj = StringIO('["Geeks for Geeks"]') 
print("Using json.load(): "+str(json.load(fileObj))) 
print("Using json.loads(): "+str(json.loads('{"Geeks": 1, "for": 2, "Geeks": 3}'))) 
print("Using json.JSONDecoder().decode(): " +
    str(json.JSONDecoder().decode('{"Geeks": 1, "for": 2, "Geeks": 3}'))) 
print("Using json.JSONDecoder().raw_decode(): " +
    str(json.JSONDecoder().raw_decode('{"Geeks": 1, "for": 2, "Geeks": 3}')))

Using json.load(): ['Geeks for Geeks']
Using json.loads(): {'Geeks': 3, 'for': 2}
Using json.JSONDecoder().decode(): {'Geeks': 3, 'for': 2}
Using json.JSONDecoder().raw_decode(): ({'Geeks': 3, 'for': 2}, 34)

In [10]:
# import pandas lib as pd 
import pandas as pd 

# create the data dictionary 
data = {'Month' : ['January', 'February', 'March', 'April'], 
    'Expense': [ 21525220.653, 31125840.875, 23135428.768, 56245263.942]} 

# create the dataframe 
dataframe = pd.DataFrame(data, columns = ['Month', 'Expense']) 

print("Given Dataframe :\n", dataframe) 

# round to two decimal places in python pandas 
pd.options.display.float_format = '${:.2f}'.format

print('\nResult :\n', dataframe)

Given Dataframe :
       Month       Expense
0   January  2.152522e+07
1  February  3.112584e+07
2     March  2.313543e+07
3     April  5.624526e+07

Result :
       Month      Expense
0   January $21525220.65
1  February $31125840.88
2     March $23135428.77
3     April $56245263.94

In [12]:
print("Given Dataframe :\n", dataframe) 

# Format with commas and round off to two decimal places in pandas 
pd.options.display.float_format = '£{:,.2f}'.format
print('\nResult :\n', dataframe)

Given Dataframe :
       Month       Expense
0   January 21,525,220.65
1  February 31,125,840.88
2     March 23,135,428.77
3     April 56,245,263.94

Result :
       Month        Expense
0   January £21,525,220.65
1  February £31,125,840.88
2     March £23,135,428.77
3     April £56,245,263.94