In [36]:
import pandas as pd
data = {'row_1': [3, 2, 1, 0], 'row_2': ['a', 'b', 'c', 'd']}
df = pd.DataFrame.from_dict(data, orient='index')

In [37]:
df

       0  1  2  3
row_1  3  2  1  0
row_2  a  b  c  d

In [38]:
d = {'lat': 48.8833,
 'lon': 2.5333,
 'timezone': 'Europe/Paris',
 'timezone_offset': 3600,
 'current': {'dt': 1678998114,
  'sunrise': 1678946530,
  'sunset': 1678989310,
  'temp': 12.7,
  'feels_like': 11.59,
  'pressure': 1008,
  'humidity': 60,
  'dew_point': 5.14,
  'uvi': 0,
  'clouds': 0,
  'visibility': 10000,
  'wind_speed': 5.14,
  'wind_deg': 130,
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01n'}]},
 'daily': [{'dt': 1678964400,
   'sunrise': 1678946530,
   'sunset': 1678989310,
   'moonrise': 1678937160,
   'moonset': 1678963620,
   'moon_phase': 0.8,
   'temp': {'day': 12.33,
    'min': 6.04,
    'max': 16.02,
    'night': 12.19,
    'eve': 13.82,
    'morn': 6.04},
   'feels_like': {'day': 10.66, 'night': 11.14, 'eve': 12.72, 'morn': 3.42},
   'pressure': 1013,
   'humidity': 40,
   'dew_point': -1,
   'wind_speed': 4.77,
   'wind_deg': 163,
   'wind_gust': 10.99,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': 100,
   'pop': 0,
   'uvi': 2.81},
  {'dt': 1679050800,
   'sunrise': 1679032804,
   'sunset': 1679075801,
   'moonrise': 1679026680,
   'moonset': 1679054700,
   'moon_phase': 0.84,
   'temp': {'day': 14.4,
    'min': 10.01,
    'max': 15.25,
    'night': 11,
    'eve': 13.92,
    'morn': 10.01},
   'feels_like': {'day': 13.23, 'night': 10.48, 'eve': 13.2, 'morn': 9.21},
   'pressure': 1009,
   'humidity': 51,
   'dew_point': 4.33,
   'wind_speed': 5.7,
   'wind_deg': 216,
   'wind_gust': 10.79,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 0.97,
   'rain': 1.7,
   'uvi': 2.21},
  {'dt': 1679137200,
   'sunrise': 1679119077,
   'sunset': 1679162292,
   'moonrise': 1679115360,
   'moonset': 1679146260,
   'moon_phase': 0.87,
   'temp': {'day': 14.82,
    'min': 8.94,
    'max': 15.96,
    'night': 11.23,
    'eve': 14.49,
    'morn': 8.94},
   'feels_like': {'day': 13.82, 'night': 10.52, 'eve': 13.61, 'morn': 6.83},
   'pressure': 1012,
   'humidity': 56,
   'dew_point': 5.97,
   'wind_speed': 4.78,
   'wind_deg': 201,
   'wind_gust': 10.45,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 64,
   'pop': 0.76,
   'rain': 0.13,
   'uvi': 3.01},
  {'dt': 1679223600,
   'sunrise': 1679205350,
   'sunset': 1679248782,
   'moonrise': 1679203440,
   'moonset': 1679238000,
   'moon_phase': 0.91,
   'temp': {'day': 11.65,
    'min': 9.88,
    'max': 14.22,
    'night': 11.19,
    'eve': 12.51,
    'morn': 9.96},
   'feels_like': {'day': 10.91, 'night': 10.27, 'eve': 11.57, 'morn': 8.87},
   'pressure': 1017,
   'humidity': 78,
   'dew_point': 7.9,
   'wind_speed': 3.43,
   'wind_deg': 187,
   'wind_gust': 8.21,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': 100,
   'pop': 0.25,
   'uvi': 1.65},
  {'dt': 1679310000,
   'sunrise': 1679291623,
   'sunset': 1679335272,
   'moonrise': 1679291220,
   'moonset': 1679329620,
   'moon_phase': 0.95,
   'temp': {'day': 16.16,
    'min': 8.25,
    'max': 17.25,
    'night': 12.72,
    'eve': 14.63,
    'morn': 8.25},
   'feels_like': {'day': 15.11, 'night': 11.64, 'eve': 13.53, 'morn': 8.25},
   'pressure': 1020,
   'humidity': 49,
   'dew_point': 5.31,
   'wind_speed': 3.01,
   'wind_deg': 172,
   'wind_gust': 4.12,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': 9,
   'pop': 0,
   'uvi': 3.59},
  {'dt': 1679396400,
   'sunrise': 1679377895,
   'sunset': 1679421762,
   'moonrise': 1679378700,
   'moonset': 1679421120,
   'moon_phase': 0,
   'temp': {'day': 16.07,
    'min': 9.72,
    'max': 17.62,
    'night': 12.62,
    'eve': 15.14,
    'morn': 9.72},
   'feels_like': {'day': 15.04, 'night': 11.82, 'eve': 14.17, 'morn': 8.84},
   'pressure': 1017,
   'humidity': 50,
   'dew_point': 5.71,
   'wind_speed': 3.98,
   'wind_deg': 226,
   'wind_gust': 5.54,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': 100,
   'pop': 0,
   'uvi': 3.1},
  {'dt': 1679482800,
   'sunrise': 1679464168,
   'sunset': 1679508252,
   'moonrise': 1679466120,
   'moonset': 1679512440,
   'moon_phase': 0.03,
   'temp': {'day': 16.53,
    'min': 8.66,
    'max': 17.93,
    'night': 15.14,
    'eve': 15.58,
    'morn': 8.66},
   'feels_like': {'day': 15.52, 'night': 14.33, 'eve': 14.79, 'morn': 6.88},
   'pressure': 1013,
   'humidity': 49,
   'dew_point': 5.69,
   'wind_speed': 5.15,
   'wind_deg': 214,
   'wind_gust': 8.71,
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': 21,
   'pop': 0,
   'uvi': 4},
  {'dt': 1679569200,
   'sunrise': 1679550440,
   'sunset': 1679594742,
   'moonrise': 1679553540,
   'moonset': 1679603700,
   'moon_phase': 0.06,
   'temp': {'day': 18.23,
    'min': 11.45,
    'max': 19.96,
    'night': 15.85,
    'eve': 17.56,
    'morn': 11.45},
   'feels_like': {'day': 17.6, 'night': 15.24, 'eve': 16.91, 'morn': 10.92},
   'pressure': 1011,
   'humidity': 57,
   'dew_point': 9.53,
   'wind_speed': 4.33,
   'wind_deg': 180,
   'wind_gust': 10.25,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': 100,
   'pop': 0.11,
   'uvi': 4}]}

In [39]:
d['daily']

[{'dt': 1678964400,
  'sunrise': 1678946530,
  'sunset': 1678989310,
  'moonrise': 1678937160,
  'moonset': 1678963620,
  'moon_phase': 0.8,
  'temp': {'day': 12.33,
   'min': 6.04,
   'max': 16.02,
   'night': 12.19,
   'eve': 13.82,
   'morn': 6.04},
  'feels_like': {'day': 10.66, 'night': 11.14, 'eve': 12.72, 'morn': 3.42},
  'pressure': 1013,
  'humidity': 40,
  'dew_point': -1,
  'wind_speed': 4.77,
  'wind_deg': 163,
  'wind_gust': 10.99,
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': 100,
  'pop': 0,
  'uvi': 2.81},
 {'dt': 1679050800,
  'sunrise': 1679032804,
  'sunset': 1679075801,
  'moonrise': 1679026680,
  'moonset': 1679054700,
  'moon_phase': 0.84,
  'temp': {'day': 14.4,
   'min': 10.01,
   'max': 15.25,
   'night': 11,
   'eve': 13.92,
   'morn': 10.01},
  'feels_like': {'day': 13.23, 'night': 10.48, 'eve': 13.2, 'morn': 9.21},
  'pressure': 1009,
  'humidity': 51,
  'dew_point': 4.33,
  'wind_speed': 5.7,
  'wind_deg': 216,
  'wind_gust': 10.79,
  'weather': [{'id': 500,
    'main': 'Rain',
    'description': 'light rain',
    'icon': '10d'}],
  'clouds': 100,
  'pop': 0.97,
  'rain': 1.7,
  'uvi': 2.21},
 {'dt': 1679137200,
  'sunrise': 1679119077,
  'sunset': 1679162292,
  'moonrise': 1679115360,
  'moonset': 1679146260,
  'moon_phase': 0.87,
  'temp': {'day': 14.82,
   'min': 8.94,
   'max': 15.96,
   'night': 11.23,
   'eve': 14.49,
   'morn': 8.94},
  'feels_like': {'day': 13.82, 'night': 10.52, 'eve': 13.61, 'morn': 6.83},
  'pressure': 1012,
  'humidity': 56,
  'dew_point': 5.97,
  'wind_speed': 4.78,
  'wind_deg': 201,
  'wind_gust': 10.45,
  'weather': [{'id': 500,
    'main': 'Rain',
    'description': 'light rain',
    'icon': '10d'}],
  'clouds': 64,
  'pop': 0.76,
  'rain': 0.13,
  'uvi': 3.01},
 {'dt': 1679223600,
  'sunrise': 1679205350,
  'sunset': 1679248782,
  'moonrise': 1679203440,
  'moonset': 1679238000,
  'moon_phase': 0.91,
  'temp': {'day': 11.65,
   'min': 9.88,
   'max': 14.22,
   'night': 11.19,
   'eve': 12.51,
   'morn': 9.96},
  'feels_like': {'day': 10.91, 'night': 10.27, 'eve': 11.57, 'morn': 8.87},
  'pressure': 1017,
  'humidity': 78,
  'dew_point': 7.9,
  'wind_speed': 3.43,
  'wind_deg': 187,
  'wind_gust': 8.21,
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': 100,
  'pop': 0.25,
  'uvi': 1.65},
 {'dt': 1679310000,
  'sunrise': 1679291623,
  'sunset': 1679335272,
  'moonrise': 1679291220,
  'moonset': 1679329620,
  'moon_phase': 0.95,
  'temp': {'day': 16.16,
   'min': 8.25,
   'max': 17.25,
   'night': 12.72,
   'eve': 14.63,
   'morn': 8.25},
  'feels_like': {'day': 15.11, 'night': 11.64, 'eve': 13.53, 'morn': 8.25},
  'pressure': 1020,
  'humidity': 49,
  'dew_point': 5.31,
  'wind_speed': 3.01,
  'wind_deg': 172,
  'wind_gust': 4.12,
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'clouds': 9,
  'pop': 0,
  'uvi': 3.59},
 {'dt': 1679396400,
  'sunrise': 1679377895,
  'sunset': 1679421762,
  'moonrise': 1679378700,
  'moonset': 1679421120,
  'moon_phase': 0,
  'temp': {'day': 16.07,
   'min': 9.72,
   'max': 17.62,
   'night': 12.62,
   'eve': 15.14,
   'morn': 9.72},
  'feels_like': {'day': 15.04, 'night': 11.82, 'eve': 14.17, 'morn': 8.84},
  'pressure': 1017,
  'humidity': 50,
  'dew_point': 5.71,
  'wind_speed': 3.98,
  'wind_deg': 226,
  'wind_gust': 5.54,
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': 100,
  'pop': 0,
  'uvi': 3.1},
 {'dt': 1679482800,
  'sunrise': 1679464168,
  'sunset': 1679508252,
  'moonrise': 1679466120,
  'moonset': 1679512440,
  'moon_phase': 0.03,
  'temp': {'day': 16.53,
   'min': 8.66,
   'max': 17.93,
   'night': 15.14,
   'eve': 15.58,
   'morn': 8.66},
  'feels_like': {'day': 15.52, 'night': 14.33, 'eve': 14.79, 'morn': 6.88},
  'pressure': 1013,
  'humidity': 49,
  'dew_point': 5.69,
  'wind_speed': 5.15,
  'wind_deg': 214,
  'wind_gust': 8.71,
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02d'}],
  'clouds': 21,
  'pop': 0,
  'uvi': 4},
 {'dt': 1679569200,
  'sunrise': 1679550440,
  'sunset': 1679594742,
  'moonrise': 1679553540,
  'moonset': 1679603700,
  'moon_phase': 0.06,
  'temp': {'day': 18.23,
   'min': 11.45,
   'max': 19.96,
   'night': 15.85,
   'eve': 17.56,
   'morn': 11.45},
  'feels_like': {'day': 17.6, 'night': 15.24, 'eve': 16.91, 'morn': 10.92},
  'pressure': 1011,
  'humidity': 57,
  'dew_point': 9.53,
  'wind_speed': 4.33,
  'wind_deg': 180,
  'wind_gust': 10.25,
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': 100,
  'pop': 0.11,
  'uvi': 4}]

In [41]:
df = pd.DataFrame.from_dict(d['daily'], orient='columns')
df

,dt,sunrise,sunset,moonrise,moonset,moon_phase,temp,feels_like,pressure,humidity,dew_point,wind_speed,wind_deg,wind_gust,weather,clouds,pop,uvi,rain
0,1678964400,1678946530,1678989310,1678937160,1678963620,0.80,"{'day': 12.33, 'min': 6.04, 'max': 16.02, 'nig...","{'day': 10.66, 'night': 11.14, 'eve': 12.72, '...",1013,40,-1.00,4.77,163,10.99,"[{'id': 804, 'main': 'Clouds', 'description': ...",100,0.00,2.81,NaN
1,1679050800,1679032804,1679075801,1679026680,1679054700,0.84,"{'day': 14.4, 'min': 10.01, 'max': 15.25, 'nig...","{'day': 13.23, 'night': 10.48, 'eve': 13.2, 'm...",1009,51,4.33,5.70,216,10.79,"[{'id': 500, 'main': 'Rain', 'description': 'l...",100,0.97,2.21,1.70
2,1679137200,1679119077,1679162292,1679115360,1679146260,0.87,"{'day': 14.82, 'min': 8.94, 'max': 15.96, 'nig...","{'day': 13.82, 'night': 10.52, 'eve': 13.61, '...",1012,56,5.97,4.78,201,10.45,"[{'id': 500, 'main': 'Rain', 'description': 'l...",64,0.76,3.01,0.13
3,1679223600,1679205350,1679248782,1679203440,1679238000,0.91,"{'day': 11.65, 'min': 9.88, 'max': 14.22, 'nig...","{'day': 10.91, 'night': 10.27, 'eve': 11.57, '...",1017,78,7.90,3.43,187,8.21,"[{'id': 804, 'main': 'Clouds', 'description': ...",100,0.25,1.65,NaN
4,1679310000,1679291623,1679335272,1679291220,1679329620,0.95,"{'day': 16.16, 'min': 8.25, 'max': 17.25, 'nig...","{'day': 15.11, 'night': 11.64, 'eve': 13.53, '...",1020,49,5.31,3.01,172,4.12,"[{'id': 800, 'main': 'Clear', 'description': '...",9,0.00,3.59,NaN
5,1679396400,1679377895,1679421762,1679378700,1679421120,0.00,"{'day': 16.07, 'min': 9.72, 'max': 17.62, 'nig...","{'day': 15.04, 'night': 11.82, 'eve': 14.17, '...",1017,50,5.71,3.98,226,5.54,"[{'id': 804, 'main': 'Clouds', 'description': ...",100,0.00,3.10,NaN
6,1679482800,1679464168,1679508252,1679466120,1679512440,0.03,"{'day': 16.53, 'min': 8.66, 'max': 17.93, 'nig...","{'day': 15.52, 'night': 14.33, 'eve': 14.79, '...",1013,49,5.69,5.15,214,8.71,"[{'id': 801, 'main': 'Clouds', 'description': ...",21,0.00,4.00,NaN
7,1679569200,1679550440,1679594742,1679553540,1679603700,0.06,"{'day': 18.23, 'min': 11.45, 'max': 19.96, 'ni...","{'day': 17.6, 'night': 15.24, 'eve': 16.91, 'm...",1011,57,9.53,4.33,180,10.25,"[{'id': 804, 'main': 'Clouds', 'description': ...",100,0.11,4.00,NaN

In [46]:
#d2 = {i:item for i,item in enumerate(d['daily'])}
#pd.DataFrame.from_dict(d2, orient='index')

In [71]:
d['daily']
type(d['daily'])

list

In [73]:
temp = df['temp']
type(temp)
temp

0    {'day': 12.33, 'min': 6.04, 'max': 16.02, 'nig...
1    {'day': 14.4, 'min': 10.01, 'max': 15.25, 'nig...
2    {'day': 14.82, 'min': 8.94, 'max': 15.96, 'nig...
3    {'day': 11.65, 'min': 9.88, 'max': 14.22, 'nig...
4    {'day': 16.16, 'min': 8.25, 'max': 17.25, 'nig...
5    {'day': 16.07, 'min': 9.72, 'max': 17.62, 'nig...
6    {'day': 16.53, 'min': 8.66, 'max': 17.93, 'nig...
7    {'day': 18.23, 'min': 11.45, 'max': 19.96, 'ni...
Name: temp, dtype: object

In [74]:
list(temp)

[{'day': 12.33,
  'min': 6.04,
  'max': 16.02,
  'night': 12.19,
  'eve': 13.82,
  'morn': 6.04},
 {'day': 14.4,
  'min': 10.01,
  'max': 15.25,
  'night': 11,
  'eve': 13.92,
  'morn': 10.01},
 {'day': 14.82,
  'min': 8.94,
  'max': 15.96,
  'night': 11.23,
  'eve': 14.49,
  'morn': 8.94},
 {'day': 11.65,
  'min': 9.88,
  'max': 14.22,
  'night': 11.19,
  'eve': 12.51,
  'morn': 9.96},
 {'day': 16.16,
  'min': 8.25,
  'max': 17.25,
  'night': 12.72,
  'eve': 14.63,
  'morn': 8.25},
 {'day': 16.07,
  'min': 9.72,
  'max': 17.62,
  'night': 12.62,
  'eve': 15.14,
  'morn': 9.72},
 {'day': 16.53,
  'min': 8.66,
  'max': 17.93,
  'night': 15.14,
  'eve': 15.58,
  'morn': 8.66},
 {'day': 18.23,
  'min': 11.45,
  'max': 19.96,
  'night': 15.85,
  'eve': 17.56,
  'morn': 11.45}]

In [72]:
pd.DataFrame.from_dict(list(temp), orient='columns')

     day    min    max  night    eve   morn
0  12.33   6.04  16.02  12.19  13.82   6.04
1  14.40  10.01  15.25  11.00  13.92  10.01
2  14.82   8.94  15.96  11.23  14.49   8.94
3  11.65   9.88  14.22  11.19  12.51   9.96
4  16.16   8.25  17.25  12.72  14.63   8.25
5  16.07   9.72  17.62  12.62  15.14   9.72
6  16.53   8.66  17.93  15.14  15.58   8.66
7  18.23  11.45  19.96  15.85  17.56  11.45

In [76]:
feel_like = df['feels_like']
pd.DataFrame.from_dict(list(feel_like), orient='columns')

     day  night    eve   morn
0  10.66  11.14  12.72   3.42
1  13.23  10.48  13.20   9.21
2  13.82  10.52  13.61   6.83
3  10.91  10.27  11.57   8.87
4  15.11  11.64  13.53   8.25
5  15.04  11.82  14.17   8.84
6  15.52  14.33  14.79   6.88
7  17.60  15.24  16.91  10.92

In [91]:
weather = df['weather']
weather

0    [{'id': 804, 'main': 'Clouds', 'description': ...
1    [{'id': 500, 'main': 'Rain', 'description': 'l...
2    [{'id': 500, 'main': 'Rain', 'description': 'l...
3    [{'id': 804, 'main': 'Clouds', 'description': ...
4    [{'id': 800, 'main': 'Clear', 'description': '...
5    [{'id': 804, 'main': 'Clouds', 'description': ...
6    [{'id': 801, 'main': 'Clouds', 'description': ...
7    [{'id': 804, 'main': 'Clouds', 'description': ...
Name: weather, dtype: object

In [94]:
sub_w = pd.DataFrame.from_dict(list(weather), orient='columns')
sub_w

                                                   0
0  {'id': 804, 'main': 'Clouds', 'description': '...
1  {'id': 500, 'main': 'Rain', 'description': 'li...
2  {'id': 500, 'main': 'Rain', 'description': 'li...
3  {'id': 804, 'main': 'Clouds', 'description': '...
4  {'id': 800, 'main': 'Clear', 'description': 'c...
5  {'id': 804, 'main': 'Clouds', 'description': '...
6  {'id': 801, 'main': 'Clouds', 'description': '...
7  {'id': 804, 'main': 'Clouds', 'description': '...

In [101]:
list(sub_w[0])

[{'id': 804,
  'main': 'Clouds',
  'description': 'overcast clouds',
  'icon': '04d'},
 {'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'},
 {'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'},
 {'id': 804,
  'main': 'Clouds',
  'description': 'overcast clouds',
  'icon': '04d'},
 {'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'},
 {'id': 804,
  'main': 'Clouds',
  'description': 'overcast clouds',
  'icon': '04d'},
 {'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02d'},
 {'id': 804,
  'main': 'Clouds',
  'description': 'overcast clouds',
  'icon': '04d'}]

In [102]:
pd.DataFrame.from_dict(list(sub_w[0]), orient='columns')

    id    main      description icon
0  804  Clouds  overcast clouds  04d
1  500    Rain       light rain  10d
2  500    Rain       light rain  10d
3  804  Clouds  overcast clouds  04d
4  800   Clear        clear sky  01d
5  804  Clouds  overcast clouds  04d
6  801  Clouds       few clouds  02d
7  804  Clouds  overcast clouds  04d