In [14]:
import pandas as pd
import numpy as np

In [15]:

# Create a MultiIndex DataFrame
data = {'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12], 'D': [13, 14, 15, 16]}
index = pd.MultiIndex.from_tuples([('foo', 'one'), ('foo', 'two'), ('bar', 'one'), ('bar', 'two')], names=['first', 'second'])
df = pd.DataFrame(data, index=index)
df

              A  B   C   D
first second
foo   one     1  5   9  13
      two     2  6  10  14
bar   one     3  7  11  15
      two     4  8  12  16

In [16]:
# Rename MultiIndex columns
df = df.rename(columns={'A': 'new_A', 'B': 'new_B', 'C': 'new_C', 'D': 'new_D'})
print(df)

              new_A  new_B  new_C  new_D
first second
foo   one         1      5      9     13
      two         2      6     10     14
bar   one         3      7     11     15
      two         4      8     12     16

In [17]:
# Below are some quick examples

# Rename Multiple Columns by Name
# Rename Multiple Columns by Index
df.rename(columns={df.columns[1]: 'Fee', df.columns[2]: 'Duration'},inplace=True)
print(df,df.columns)

              new_A  Fee  Duration  new_D
first second
foo   one         1    5         9     13
      two         2    6        10     14
bar   one         3    7        11     15
      two         4    8        12     16 Index(['new_A', 'Fee', 'Duration', 'new_D'], dtype='object')

In [18]:
technologies = [ ["Spark",20000, "30days"], 
                 ["Pandas",25000, "40days"], 
               ]
column_names=["Courses","Fee",'Duration']
df=pd.DataFrame(technologies, columns=column_names)

print(df,df.columns)

  Courses    Fee Duration
0   Spark  20000   30days
1  Pandas  25000   40days Index(['Courses', 'Fee', 'Duration'], dtype='object')

In [19]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]],
                  columns=pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1)]))
df

   a     b
   1  2  1
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
lookup = {('a', 1): 'd', ('a', 2): 'e', ('b', 1): 'f'}

# flatten index
df.columns = df.columns.to_flat_index()
df.columns

Index([('a', 1), ('a', 2), ('b', 1)], dtype='object')

In [21]:
# rename using lookup
result = df.rename(columns=lookup)

print(result)

   d  e  f
0  1  2  3
1  4  5  6
2  7  8  9

# drop level

In [22]:
mi = pd.MultiIndex.from_arrays([[1, 2], [3, 4], [5, 6]], names=['x', 'y', 'z'])
mi

MultiIndex([(1, 3, 5),
            (2, 4, 6)],
           names=['x', 'y', 'z'])

In [23]:
mi = mi.droplevel()  # default level=0
mi

MultiIndex([(3, 5),
            (4, 6)],
           names=['y', 'z'])

# create dataframe from multiIndex columns

In [24]:
arrays = [["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
  ["one", "two", "one", "two", "one", "two", "one", "two"]]
 
arrays

[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
 ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [25]:

tuples = list(zip(*arrays))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [26]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [27]:
# https://pandas.pydata.org/docs/user_guide/advanced.html
s = pd.DataFrame(np.random.randn(3,8), columns=index)
s

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
0       0.802848 -1.214657 -0.648395 -1.448809 -0.474701  1.252986  0.715379
1       0.419056  0.900890  1.776986 -0.451704  0.163792  0.524118  0.172334
2      -1.474544 -1.683184  0.545922 -0.942822 -1.115341  1.192383  0.172539

first
second       two
0      -0.491180
1      -0.771572
2       1.609248

In [28]:
df = pd.DataFrame({'A':list('abcdef'),
               'B':[4,5,4,5,5,4],
               'C':[7,8,9,4,2,3],
               'D':[1,3,5,7,1,0],
               'E':list('aaabbb')})
df

   A  B  C  D  E
0  a  4  7  1  a
1  b  5  8  3  a
2  c  4  9  5  a
3  d  5  4  7  b
4  e  5  2  1  b
5  f  4  3  0  b

In [29]:
names = ['Dog','Cat']
for index, column_name in enumerate(df.columns[1:3]):
    df.rename(columns={column_name: f'Q{names[index]}{index+1}'}, inplace=True)
df

   A  QDog1  QCat2  D  E
0  a      4      7  1  a
1  b      5      8  3  a
2  c      4      9  5  a
3  d      5      4  7  b
4  e      5      2  1  b
5  f      4      3  0  b

In [31]:
import time
from itertools import cycle
lights = [
    ('Green', 2),
    ('Yellow', 0.5),
    ('Red', 2)
]

colors = cycle(lights)


# while True:
#     c,s = next(colors)
#     print(c)
#     time.sleep(s)