In [1]:
#https://realpython.com/pandas-python-explore-dataset/#getting-to-know-your-data

import requests

download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"
target_csv_path = "nba_all_elo.csv"

response = requests.get(download_url)
response.raise_for_status()    # Check that the request was successful
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

Download ready.

In [2]:
import pandas as pd
nba = pd.read_csv("nba_all_elo.csv")
type(nba)

pandas.core.frame.DataFrame

In [3]:
nba.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [4]:
nba.shape

(126314, 23)

In [5]:
len(nba)

126314

In [6]:
#pd.set_option("display.max.columns", None)
#pd.set_option("display.precision", 2)

In [7]:
nba.tail()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [8]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 17.3+ MB

In [9]:
nba.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000
mean,31579.000000,0.500000,1988.200374,43.533733,0.063857,102.729982,1495.236055,1495.236055,41.707889,102.729982,1495.236055,1495.236055,0.500000
std,18231.927643,0.500002,17.582309,25.375178,0.244499,14.814845,112.139945,112.461687,10.627332,14.814845,112.139945,112.461687,0.215252
min,1.000000,0.000000,1947.000000,1.000000,0.000000,0.000000,1091.644500,1085.774400,10.152501,0.000000,1091.644500,1085.774400,0.020447
25%,15790.000000,0.000000,1975.000000,22.000000,0.000000,93.000000,1417.237975,1416.994900,34.103035,93.000000,1417.237975,1416.994900,0.327989
50%,31579.000000,0.500000,1990.000000,43.000000,0.000000,103.000000,1500.945550,1500.954400,42.113357,103.000000,1500.945550,1500.954400,0.500000
75%,47368.000000,1.000000,2003.000000,65.000000,0.000000,112.000000,1576.060000,1576.291625,49.635328,112.000000,1576.060000,1576.291625,0.672011
max,63157.000000,1.000000,2015.000000,108.000000,1.000000,186.000000,1853.104500,1853.104500,71.112038,186.000000,1853.104500,1853.104500,0.979553

In [10]:
import numpy as np
nba.describe(include=np.object)

,game_id,lg_id,date_game,team_id,fran_id,opp_id,opp_fran,game_location,game_result,notes
count,126314,126314,126314,126314,126314,126314,126314,126314,126314,5424
unique,63157,2,12426,104,53,104,53,3,2,231
top,201103250OKC,NBA,4/16/2014,BOS,Lakers,BOS,Lakers,H,W,at New York NY
freq,2,118016,30,5997,6024,5997,6024,63138,63157,440

In [11]:
nba["team_id"].value_counts()

BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
       ...
DTF      60
TRH      60
INJ      60
PIT      60
SDS      11
Name: team_id, Length: 104, dtype: int64

In [12]:
nba["fran_id"].value_counts()

Lakers          6024
Celtics         5997
Knicks          5769
Warriors        5657
Pistons         5650
Sixers          5644
Hawks           5572
Kings           5475
Wizards         4582
Spurs           4309
Bulls           4307
Pacers          4227
Thunder         4178
Rockets         4154
Nuggets         4120
Nets            4106
Suns            4080
Bucks           4034
Trailblazers    3870
Cavaliers       3810
Clippers        3733
Jazz            3555
Mavericks       3013
Heat            2371
Pelicans        2254
Magic           2207
Timberwolves    2131
Grizzlies       1657
Raptors         1634
Hornets          894
Colonels         846
Squires          799
Spirits          777
Stars            756
Sounds           697
Baltimore        467
Floridians       440
Condors          430
Capitols         291
Olympians        282
Sails            274
Stags            260
Bombers          249
Steamrollers     168
Packers           72
Redskins          65
Rebels            63
Denver            62
Waterloo          62
Ironmen           60
Huskies           60
Jets              60
Falcons           60
Name: fran_id, dtype: int64

In [13]:
nba.loc[nba["fran_id"] == "Lakers", "team_id"].value_counts()

LAL    5078
MNL     946
Name: team_id, dtype: int64

In [14]:
nba.loc[nba["team_id"] == "MNL", "date_game"].min()

'1/1/1949'

In [15]:
nba.loc[nba["team_id"] == "MNL", "date_game"].max()

'4/9/1959'

In [16]:
nba.loc[nba["team_id"] == "MNL", "date_game"].agg(("min", "max"))

min    1/1/1949
max    4/9/1959
Name: date_game, dtype: object

In [17]:
nba.loc[nba["team_id"] == "BOS", "pts"].sum()

626484

In [18]:
revenues = pd.Series([5555, 7000, 1980])
revenues

0    5555
1    7000
2    1980
dtype: int64

In [19]:
revenues.values

array([5555, 7000, 1980], dtype=int64)

In [20]:
revenues.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
type(revenues.values)

numpy.ndarray

In [22]:
city_revenues = pd.Series(
...     [4200, 8000, 6500],
...     index=["Amsterdam", "Toronto", "Tokyo"]
... )
city_revenues

Amsterdam    4200
Toronto      8000
Tokyo        6500
dtype: int64

In [23]:
city_employee_count = pd.Series({"Amsterdam": 5, "Tokyo": 8})
city_employee_count

Amsterdam    5
Tokyo        8
dtype: int64

In [24]:
city_employee_count.keys()

Index(['Amsterdam', 'Tokyo'], dtype='object')

In [25]:
"Tokyo" in city_employee_count

True

In [26]:
"New York" in city_employee_count

False

In [27]:
city_data = pd.DataFrame({
...     "revenue": city_revenues,
...     "employee_count": city_employee_count
... })
city_data

           revenue  employee_count
Amsterdam     4200             5.0
Tokyo         6500             8.0
Toronto       8000             NaN

In [28]:
city_data.revenue

Amsterdam    4200
Tokyo        6500
Toronto      8000
Name: revenue, dtype: int64

In [29]:
city_data.employee_count

Amsterdam    5.0
Tokyo        8.0
Toronto      NaN
Name: employee_count, dtype: float64

In [30]:
city_data.index

Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object')

In [31]:
city_data.values

array([[4.2e+03, 5.0e+00],
       [6.5e+03, 8.0e+00],
       [8.0e+03,     nan]])

In [32]:
city_data.axes

[Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object'),
 Index(['revenue', 'employee_count'], dtype='object')]

In [33]:
city_data.axes[0]

Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object')

In [34]:
city_data.axes[1]

Index(['revenue', 'employee_count'], dtype='object')

In [35]:
city_data.keys()

Index(['revenue', 'employee_count'], dtype='object')

In [36]:
"Amsterdam" in city_data

False

In [37]:
"revenue" in city_data

True

In [38]:
nba.axes

[RangeIndex(start=0, stop=126314, step=1),
 Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
        'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
        'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
        'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes'],
       dtype='object')]

In [39]:
nba.index

RangeIndex(start=0, stop=126314, step=1)

In [40]:
"points" in nba.keys()

False

In [41]:
"pts" in nba.keys()

True

In [42]:
colors = pd.Series(
...     ["red", "purple", "blue", "green", "yellow"],
...     index=[1, 2, 3, 5, 8]
... )
colors

1       red
2    purple
3      blue
5     green
8    yellow
dtype: object

In [43]:
colors.loc[1]  # label index begins with 1

'red'

In [44]:
colors.iloc[1]  # positional index begins with 0

'purple'

In [45]:
# Return the elements with the implicit index: 1, 2
colors.iloc[1:3]

2    purple
3      blue
dtype: object

In [46]:
 # Return the elements with the explicit index between 3 and 8
colors.loc[3:8]

3      blue
5     green
8    yellow
dtype: object

In [47]:
colors.iloc[-2]

'green'

In [48]:
toys = pd.DataFrame([
...     {"name": "ball", "shape": "sphere"},
...     {"name": "Rubik's cube", "shape": "cube"}
... ])
toys["shape"]

0    sphere
1      cube
Name: shape, dtype: object

In [49]:
toys

           name   shape
0          ball  sphere
1  Rubik's cube    cube

In [50]:
toys.shape

(2, 2)

Each line of code selects a different row from city_data:

city_data.loc["Amsterdam"] selects the row with the label index "Amsterdam".
city_data.loc["Tokyo": "Toronto"] selects the rows with label indices from "Tokyo" to "Toronto". Remember, .loc is inclusive.
city_data.iloc[1] selects the row with the positional index 1, which is "Tokyo".

In [51]:
nba.iloc[-2:]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.48145,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.51855,NaN

In [52]:
nba.iloc[-2]

gameorder               63157
game_id          201506170CLE
lg_id                     NBA
_iscopy                     0
year_id                  2015
date_game           6/16/2015
seasongame                102
is_playoffs                 1
team_id                   CLE
fran_id             Cavaliers
pts                        97
elo_i                 1700.74
elo_n                 1692.09
win_equiv             59.2902
opp_id                    GSW
opp_fran             Warriors
opp_pts                   105
opp_elo_i             1813.63
opp_elo_n             1822.29
game_location               H
game_result                 L
forecast              0.48145
notes                     NaN
Name: 126312, dtype: object

In [53]:
city_data.loc["Amsterdam": "Tokyo", "revenue"]   # subset

Amsterdam    4200
Tokyo        6500
Name: revenue, dtype: int64

In [54]:
nba.iloc[5555:5559]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
5555,2778,195312310FTW,NBA,0,1954,12/31/1953,30,0,FTW,Pistons,...,47.115856,PHW,Warriors,56,1421.2324,1414.5690,H,W,0.803381,at Indianapolis IN
5556,2779,195312310NYK,NBA,1,1954,12/31/1953,33,0,BOS,Celtics,...,45.189346,NYK,Knicks,74,1580.9148,1553.4973,A,W,0.291142,NaN
5557,2779,195312310NYK,NBA,0,1954,12/31/1953,30,0,NYK,Knicks,...,45.163074,BOS,Celtics,95,1526.3329,1553.7504,H,L,0.708858,NaN
5558,2780,195312310SYR,NBA,1,1954,12/31/1953,29,0,ROC,Kings,...,48.589958,SYR,Sixers,86,1593.8557,1598.4980,A,L,0.356838,NaN

In [55]:
nba.loc[5555:5559, ['fran_id', 'opp_fran','pts', 'opp_pts']]  # .loc[]sliceofrows, listoflabels]

      fran_id  opp_fran  pts  opp_pts
5555  Pistons  Warriors   83       56
5556  Celtics    Knicks   95       74
5557   Knicks   Celtics   74       95
5558    Kings    Sixers   81       86
5559   Sixers     Kings   86       81

In [56]:
current_decade = nba[nba["year_id"] > 2010]
current_decade.shape

(12658, 23)

In [57]:
current_decade.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
113656,56829,201010260BOS,NBA,1,2011,10/26/2010,1,0,MIA,Heat,...,45.141479,BOS,Celtics,88,1625.0994,1629.3031,A,L,0.264418,NaN
113657,56829,201010260BOS,NBA,0,2011,10/26/2010,1,0,BOS,Celtics,...,53.754559,MIA,Heat,80,1547.3638,1543.1600,H,W,0.735582,NaN
113658,56830,201010260LAL,NBA,1,2011,10/26/2010,1,0,HOU,Rockets,...,40.900764,LAL,Lakers,112,1647.6016,1649.2002,A,L,0.197632,NaN
113659,56830,201010260LAL,NBA,0,2011,10/26/2010,1,0,LAL,Lakers,...,55.608730,HOU,Rockets,110,1504.1956,1502.5969,H,W,0.802368,NaN
113660,56831,201010260POR,NBA,1,2011,10/26/2010,1,0,PHO,Suns,...,53.879230,POR,Trailblazers,106,1552.8141,1565.2162,A,L,0.485912,NaN

In [58]:
games_with_notes = nba[nba["notes"].notnull()]    # or .notna()
games_with_notes.shape

(5424, 23)

In [59]:
games_with_notes.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
930,466,194801300BLB,NBA,1,1948,1/30/1948,28,0,WSC,Capitols,...,47.065742,BLB,Baltimore,95,1434.0548,1448.5005,A,L,0.407940,at Baltimore's Fifth Regiment Armory
931,466,194801300BLB,NBA,0,1948,1/30/1948,31,0,BLB,Baltimore,...,46.407490,WSC,Capitols,71,1469.3469,1454.9012,H,W,0.592060,at Baltimore's Fifth Regiment Armory
1084,543,194803230CHS,NBA,1,1948,3/23/1948,49,1,WSC,Capitols,...,47.710297,CHS,Stags,74,1440.7186,1445.4203,A,L,0.393962,Tiebreaker
1085,543,194803230CHS,NBA,0,1948,3/23/1948,49,1,CHS,Stags,...,46.089687,WSC,Capitols,70,1465.9006,1461.1990,H,W,0.606038,Tiebreaker
1088,545,194803250CHS,NBA,1,1948,3/25/1948,49,1,BLB,Baltimore,...,50.044666,CHS,Stags,72,1445.4203,1438.3618,A,W,0.403142,Tiebreaker

In [60]:
ers = nba[nba["fran_id"].str.endswith("ers")]
ers.shape

(27797, 23)

In [61]:
ers.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
7,4,194611020PRO,NBA,0,1947,11/2/1946,1,0,PRO,Steamrollers,...,41.540619,BOS,Celtics,53,1300.0000,1294.8458,H,W,0.640065,NaN
9,5,194611020STB,NBA,0,1947,11/2/1946,1,0,STB,Bombers,...,41.492020,PIT,Ironmen,51,1300.0000,1295.3092,H,W,0.640065,NaN
16,9,194611050DTF,NBA,1,1947,11/5/1946,2,0,STB,Bombers,...,42.347137,DTF,Falcons,49,1279.6189,1271.4624,A,W,0.393811,NaN
20,11,194611070PRO,NBA,0,1947,11/7/1946,2,0,PRO,Steamrollers,...,42.206284,CHS,Stags,65,1316.0840,1309.7350,H,W,0.625446,NaN
22,12,194611070STB,NBA,0,1947,11/7/1946,3,0,STB,Bombers,...,41.272594,NYK,Knicks,68,1297.0712,1307.3197,H,L,0.660710,NaN

In [62]:
ers.head().loc[:,['gameorder','fran_id']]

    gameorder       fran_id
7           4  Steamrollers
9           5       Bombers
16          9       Bombers
20         11  Steamrollers
22         12       Bombers

In [63]:
nba[
...     (nba["_iscopy"] == 0) &
...     (nba["pts"] > 100) &
...     (nba["opp_pts"] > 100) &
...     (nba["team_id"] == "BLB")
... ]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
1726,864,194902260BLB,NBA,0,1949,2/26/1949,53,0,BLB,Baltimore,...,38.557545,MNL,Lakers,115,1637.9852,1640.4923,H,L,0.338936,NaN
4890,2446,195301100BLB,NBA,0,1953,1/10/1953,32,0,BLB,Baltimore,...,25.797792,BOS,Celtics,105,1591.1434,1563.1652,H,W,0.281855,NaN
4909,2455,195301140BLB,NBA,0,1953,1/14/1953,34,0,BLB,Baltimore,...,24.876236,MNL,Lakers,112,1665.4396,1668.9125,H,L,0.224238,NaN
5208,2605,195303110BLB,NBA,0,1953,3/11/1953,66,0,BLB,Baltimore,...,19.579676,NYK,Knicks,113,1649.1516,1651.4359,H,L,0.178973,at Boston MA
5825,2913,195402220BLB,NBA,0,1954,2/22/1954,60,0,BLB,Baltimore,...,20.736986,BOS,Celtics,111,1591.4943,1593.2749,H,L,0.253365,at Worcester MA

In the spring of 1992, both teams from Los Angeles had to play a home game at another court. Query your dataset to find those two games. Both teams have an ID starting with "LA".

In [64]:
nba.iloc[1]

gameorder                   1
game_id          194611010TRH
lg_id                     NBA
_iscopy                     1
year_id                  1947
date_game           11/1/1946
seasongame                  1
is_playoffs                 0
team_id                   NYK
fran_id                Knicks
pts                        68
elo_i                    1300
elo_n                 1306.72
win_equiv             41.7052
opp_id                    TRH
opp_fran              Huskies
opp_pts                    66
opp_elo_i                1300
opp_elo_n             1293.28
game_location               A
game_result                 W
forecast             0.359935
notes                     NaN
Name: 1, dtype: object

In [65]:
nba[
...     (nba["_iscopy"] == 0) &
...     (nba["team_id"].str.startswith("LA")) &
...     (nba["year_id"]==1992) &
...     (nba["notes"].notnull())
... ]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
68901,34451,199205030LAC,NBA,0,1992,5/3/1992,86,1,LAC,Clippers,...,47.888252,UTA,Jazz,107,1647.5092,1638.4095,H,W,0.499125,"at Anaheim, CA (Anaheim Convention Center)"
68903,34452,199205030LAL,NBA,0,1992,5/3/1992,86,1,LAL,Lakers,...,39.395412,POR,Trailblazers,102,1655.1210,1670.3677,H,L,0.406874,"at Las Vegas, NV"

In [66]:
city_revenues.sum()

18700

In [67]:
city_revenues.max()

8000

In [68]:
points = nba["pts"]
type(points)

pandas.core.series.Series

In [69]:
points.sum()

12976235

In [70]:
nba.groupby("fran_id")

In [71]:
c = nba.groupby("fran_id")["pts"].count() #numbers of match
c

fran_id
Baltimore        467
Bombers          249
Bucks           4034
Bulls           4307
Capitols         291
Cavaliers       3810
Celtics         5997
Clippers        3733
Colonels         846
Condors          430
Denver            62
Falcons           60
Floridians       440
Grizzlies       1657
Hawks           5572
Heat            2371
Hornets          894
Huskies           60
Ironmen           60
Jazz            3555
Jets              60
Kings           5475
Knicks          5769
Lakers          6024
Magic           2207
Mavericks       3013
Nets            4106
Nuggets         4120
Olympians        282
Pacers          4227
Packers           72
Pelicans        2254
Pistons         5650
Raptors         1634
Rebels            63
Redskins          65
Rockets         4154
Sails            274
Sixers          5644
Sounds           697
Spirits          777
Spurs           4309
Squires          799
Stags            260
Stars            756
Steamrollers     168
Suns            4080
Thunder         4178
Timberwolves    2131
Trailblazers    3870
Warriors        5657
Waterloo          62
Wizards         4582
Name: pts, dtype: int64

In [72]:
s = nba.groupby("fran_id", sort=False)["pts"].sum()
s

fran_id
Huskies           3995
Knicks          582497
Stags            20398
Falcons           3797
Capitols         22387
Celtics         626484
Steamrollers     12372
Ironmen           3674
Bombers          17793
Rebels            4474
Warriors        591224
Baltimore        37219
Jets              4482
Pistons         572758
Lakers          637444
Kings           569245
Hawks           567261
Denver            4818
Olympians        22864
Redskins          5372
Waterloo          4921
Packers           6193
Sixers          585891
Wizards         474809
Bulls           437269
Thunder         437735
Squires          91127
Stars            84940
Rockets         432504
Colonels         94435
Pacers          438288
Nuggets         445780
Spurs           453822
Spirits          85874
Sounds           75582
Floridians       49568
Nets            417809
Condors          49642
Bucks           418326
Suns            437486
Clippers        380523
Cavaliers       380416
Trailblazers    402695
Sails            30080
Jazz            363155
Mavericks       309239
Pelicans        220794
Heat            229103
Timberwolves    207693
Magic           219436
Grizzlies       157683
Raptors         158370
Hornets          84489
Name: pts, dtype: int64

In [73]:
s/c  #mean by match

fran_id
Baltimore        79.698073
Bombers          71.457831
Bucks           103.700050
Bulls           101.525192
Capitols         76.931271
Cavaliers        99.846719
Celtics         104.466233
Clippers        101.934905
Colonels        111.625296
Condors         115.446512
Denver           77.709677
Falcons          63.283333
Floridians      112.654545
Grizzlies        95.161738
Hawks           101.805635
Heat             96.627162
Hornets          94.506711
Huskies          66.583333
Ironmen          61.233333
Jazz            102.153305
Jets             74.700000
Kings           103.971689
Knicks          100.970185
Lakers          105.817397
Magic            99.427277
Mavericks       102.634915
Nets            101.755723
Nuggets         108.199029
Olympians        81.078014
Pacers          103.687722
Packers          86.013889
Pelicans         97.956522
Pistons         101.373097
Raptors          96.921665
Rebels           71.015873
Redskins         82.646154
Rockets         104.117477
Sails           109.781022
Sixers          103.807760
Sounds          108.439024
Spirits         110.519949
Spurs           105.319564
Squires         114.051314
Stags            78.453846
Stars           112.354497
Steamrollers     73.642857
Suns            107.226961
Thunder         104.771422
Timberwolves     97.462694
Trailblazers    104.055556
Warriors        104.511932
Waterloo         79.370968
Wizards         103.624836
Name: pts, dtype: float64

In [ ]:
nba[
...     (nba["fran_id"] == "Spurs") &
...     (nba["year_id"] > 2010)
... ].groupby(["year_id", "game_result"])["game_id"].count()

year_id  game_result
2011     L              25
         W              63
2012     L              20
         W              60
2013     L              30
         W              73
2014     L              27
         W              78
2015     L              31
         W              58
Name: game_id, dtype: int64

In [ ]:
nba[nba['fran_id'] == "Spurs"]

In [ ]:
nba[nba['fran_id'] == "Spurs"]['game_id']

In [ ]:
nba[
...     (nba["fran_id"] == "Spurs") &
...     (nba["year_id"] >= 2010)
... ].groupby(["year_id", "game_result"])["year_id"].count()

You can practice these basics with an exercise. Take a look at the Golden State Warriorsâ€™ 2014-15 season (year_id: 2015). How many wins and losses did they score during the regular season and the playoffs? 
is_playoffs=0 shows the results for the regular season, and is_playoffs=1 shows the results for the playoffs.

In [ ]:
nba[
...     (nba["fran_id"] == "Warriors") &
...     (nba["year_id"] == 2015)
... ].groupby(["is_playoffs", "game_result"])["year_id"].count()