https://pythonprogramming.net/how-to-embed-matplotlib-graph-tkinter-gui/

In [6]:
import matplotlib
matplotlib.use("TkAgg")
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg, NavigationToolbar2Tk
from matplotlib.figure import Figure

import tkinter as tk
from tkinter import ttk
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt

https://stackoverflow.com/questions/44724111/tkinter-gui-graph

In [7]:
import sys
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO

data=StringIO('''X Data,Y1 Data,Y2 Data,Y3 Data
0,5,15,100
2,6,30,125
4,4,20,122
6,10,45,128
8,15,10,79
10,14,10,84
13,20,12,99
14,6,13,56
16,4,18,67
18,8,25,83
20,9,12,91''')

df = pd.read_csv(data, sep=',')
df

    X Data  Y1 Data  Y2 Data  Y3 Data
0        0        5       15      100
1        2        6       30      125
2        4        4       20      122
3        6       10       45      128
4        8       15       10       79
5       10       14       10       84
6       13       20       12       99
7       14        6       13       56
8       16        4       18       67
9       18        8       25       83
10      20        9       12       91

In [8]:
# get data from string
sep = ','

data = '''X Data,Y1 Data,Y2 Data,Y3 Data
0,5,15,100
2,6,30,125
4,4,20,122
6,10,45,128
8,15,10,79
10,14,10,84
13,20,12,99
14,6,13,56
16,4,18,67
18,8,25,83
20,9,12,91'''
df = pd.DataFrame([x.split(sep) for x in data.split('\n')[1:]], columns=[x for x in data.split('\n')[0].split(sep)])
df

   X Data Y1 Data Y2 Data Y3 Data
0       0       5      15     100
1       2       6      30     125
2       4       4      20     122
3       6      10      45     128
4       8      15      10      79
5      10      14      10      84
6      13      20      12      99
7      14       6      13      56
8      16       4      18      67
9      18       8      25      83
10     20       9      12      91

In [9]:
def display_graph():
    #df = pd.read_csv(data, sep=',')

    # Indicated your x values and y values. 
    x = df["X Data"]
    y1 = df["Y1 Data"]
    y2 = df["Y2 Data"]
    z = df["Y3 Data"]
    y_pos = np.arange(len(x))


    lns1 = plt.bar(y_pos,z)
    plt.ylabel('Bar Graph')
    plt.xlabel('Date')

    # second y-axis
    plt.twinx()
    lns2 = plt.plot(y_pos,y1,'r-',linewidth=2.5)
    lns3 = plt.plot(y_pos,y2,color='orange',linewidth=2.5)
    plt.ylabel('Line Data')
    plt.xticks(y_pos, x)
    plt.xlabel('X axis')
    plt.title('Graph 1')

    plt.legend([lns1, lns2[0], lns3[0]],["Bar", "Line 1", "Line 2"], loc="upper right")

    plt.draw()
    plt.show()

#display_graph(data)
def doNothing():
    print("nothing")

def graph_1():
    display_graph()

In [10]:
root = tk.Tk()
# choose file
#tk.Label(root, text='File Path').grid(row=0, column=0)
# v = tk.StringVar()
# entry = tk.Entry(root, textvariable=v).grid(row=0, column=1)
#tk.Button(root, text='Browse Data Set',command=import_csv_data).grid(row=1, column=0)
tk.Button(root, text='Close',command=root.destroy).grid(row=1, column=0,columnspan=2)

tk.Button(root, text='Graph 1', command=graph_1).grid(row=3, column=0) # Call the graph_1 function
tk.Button(root, text='Graph 2', command=doNothing).grid(row=3, column=1)
tk.Button(root, text='Graph 3', command=doNothing).grid(row=3, column=2)
tk.Button(root, text='Graph 4', command=doNothing).grid(row=3, column=3)
tk.Label(root, text='').grid(row=4, column=3)

'''
menu =  Menu(root)
root.config(menu=menu)
subMenu = Menu(menu)
menu.add_cascade(label="File",menu=subMenu)
subMenu.add_command(label="New", command=create_window)
subMenu.add_command(label="Open", command=doNothing)
subMenu.add_command(label="Restart", command=doNothing)
subMenu.add_command(label="Exit", command=doNothing)
editMenu = Menu(menu)
menu.add_cascade(label = "Help", menu=editMenu)
editMenu.add_command(label="Help", command=doNothing)
'''
root.mainloop()

nothing
nothing
nothing